body {
    
    background-color: #EAF6F6;
    margin: 0 80px 0 80px;
    padding: 0 80px 80px 80px;
    border: 2px solid black;
}
.header{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
    color: navy;
    margin-top:50px;
}
.contact-container{
  text-align: center;
  list-style-type: none;
}
.contact:before{
  content: "• ";
}
.contact:nth-child(1),.contact:nth-child(2){
  display: inline-block;
  margin: 0 10px 0 0;
}
h3{
    padding-top:10px;
    margin-bottom: 0px;
    color:navy;
}
h5{

  margin-bottom: 0px;
  color: navy;
}
#University{
  margin-bottom: 15px;
  color: navy;
}
hr {
    top: 20px;
    border: none;
    height: 2px;
    background: navy;
    margin-bottom: 10px;
    margin-top: 0px;
}
.education-detail,.work-experience,.certifications1,.certifications2,.certifications3{
    display: flex;
    justify-content: space-between;
    margin:0px;
    padding:0px;
}
p {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
}
li{
    font-style: italic;
    line-height: 1.4;
    font-size: 17px;
}
img{
    position: absolute;
    width: 180px;
    height: 180px;
    top: 20px;
    right: 150px;
}
a:hover{
    color: gray;
}
.more-tag1,.more-tag2,.more-tag3,.more-tag4,.more-tag5{
    color: navy;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}
.link1{
    display: none;
}

